@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#11998e,#38ef7d);
}

/* container */

.container{
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
text-align:center;
width:350px;
}

h2{
margin-bottom:20px;
color:#2c3e50;
}

.message{
font-size:18px;
margin-bottom:25px;
color:#27ae60;
}

/* button */

.btn{
display:inline-block;
padding:12px 20px;
background:#27ae60;
color:white;
text-decoration:none;
border-radius:8px;
transition:0.3s;
}

.btn:hover{
background:#1e874b;
}