body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(120deg,#56ab2f,#a8e063);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.dashboard{
    background:white;
    padding:40px;
    border-radius:10px;
    width:420px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.dashboard h2{
    margin-bottom:30px;
}

.credit-card{
    background:#f5f5f5;
    padding:20px;
    border-radius:8px;
    margin-bottom:25px;
}

.credit-card h3{
    margin:0;
    color:#555;
}

.credit-card p{
    font-size:28px;
    font-weight:bold;
    color:#2e7d32;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.btn{
    text-decoration:none;
    background:#2e7d32;
    color:white;
    padding:12px;
    border-radius:6px;
    font-size:16px;
    transition:0.3s;
}

.btn:hover{
    background:#1b5e20;
    transform:scale(1.05);
}

.market-container{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
margin-top:20px;
}

.market-card{
background:#f5f5f5;
padding:20px;
width:200px;
border-radius:8px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.market-card:hover{
transform:scale(1.05);
}

.market-card h3{
margin:10px 0;
color:#2e7d32;
}

.market-card p{
font-size:16px;
margin-bottom:15px;
}

.back-btn{
display:inline-block;
margin-top:25px;
text-decoration:none;
color:#2e7d32;
font-weight:bold;
}

.sell-form{
display:flex;
flex-direction:column;
gap:15px;
margin-top:20px;
}

.sell-form label{
text-align:left;
font-weight:bold;
}

.sell-form input{
padding:10px;
border-radius:5px;
border:1px solid #ccc;
font-size:15px;
}

.sell-form input:focus{
outline:none;
border:1px solid #2e7d32;
}

.success{
color:green;
font-weight:bold;
margin-bottom:15px;
} 